# Python cache & bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs & temp files
*.log
*.tmp
*.swp

# IDE / editor configs
.vscode/
.idea/

# System files
**.DS_Store
.DS_Store
Thumbs.db

# Local environment files
.env
.env.*
